[package]
name = "mycelite-dynamic"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib"]

[dependencies]
mycelite = { git = "https://github.com/mycelial/mycelite", tag = "v0.2.0" }
